In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
housing=pd.read_csv("C:/Users/Predator/Desktop/Jupyter_Notebook/Week 11/Untitled Folder/Delhi_v2.csv")

In [5]:
housing.head()

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Welcome ...,4148.148148
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,NaN,Flat,\n\n\n Mapsko M...,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,NaN,Flat,\n\n\n This pro...,6918.238994
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3.0,NaN,New Property,1.0,Unfurnished,2.0,near Gaur Mulberry Mansion,Flat,\n\n\n AIG Roya...,3628.571429
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,3.0,NaN,Flat,\n\n\n The prop...,4592.592593

## Cleaning Data

### Dropping unwanted columns

In [7]:
housing.isnull().sum()

Unnamed: 0             0
price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Balcony             2572
Status               574
neworold               0
parking             5126
Furnished_status    3614
Lift                6005
Landmarks           4979
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [15]:
housing.drop("Unnamed: 0",axis=1,inplace=True)

In [21]:
housing.drop(["Address","latitude","longitude"],axis=1,inplace=True)

In [22]:
housing.drop(["Status","neworold","Lift","Landmarks","desc","Price_sqft"],inplace=True,axis=1)

In [23]:
housing.head()

,price,area,Bedrooms,Bathrooms,Balcony,parking,Furnished_status,type_of_building
0,5600000.0,1350.0,3.0,3.0,NaN,NaN,NaN,Flat
1,8800000.0,1490.0,3.0,3.0,NaN,NaN,Semi-Furnished,Flat
2,16500000.0,2385.0,4.0,5.0,NaN,1.0,Unfurnished,Flat
3,3810000.0,1050.0,2.0,2.0,3.0,1.0,Unfurnished,Flat
4,6200000.0,1350.0,2.0,2.0,3.0,1.0,NaN,Flat

### Filling missing values

In [24]:
housing.isnull().sum()

price                  0
area                   0
Bedrooms               0
Bathrooms              0
Balcony             2572
parking             5126
Furnished_status    3614
type_of_building       0
dtype: int64

In [25]:
housing["Balcony"].value_counts()

Balcony
2.0     1793
3.0     1516
1.0     1082
4.0      613
5.0      130
6.0       21
7.0        4
10.0       3
8.0        3
9.0        1
Name: count, dtype: int64

In [26]:
housing["Balcony"].fillna(0,inplace=True)

In [27]:
housing[["Balcony"]]

      Balcony
0         0.0
1         0.0
2         0.0
3         3.0
4         3.0
...       ...
7733      0.0
7734      3.0
7735      5.0
7736      2.0
7737      3.0

[7738 rows x 1 columns]

In [28]:
housing.parking.value_counts()

parking
1.0      1715
2.0       640
3.0       110
4.0        45
6.0        14
         ...
18.0        1
602.0       1
16.0        1
624.0       1
179.0       1
Name: count, Length: 65, dtype: int64

In [29]:
housing.parking.fillna(0,inplace=True)

In [30]:
housing.isnull().sum()

price                  0
area                   0
Bedrooms               0
Bathrooms              0
Balcony                0
parking                0
Furnished_status    3614
type_of_building       0
dtype: int64

In [32]:
housing.Furnished_status.value_counts()

Furnished_status
Semi-Furnished    2199
Unfurnished       1230
Furnished          695
Name: count, dtype: int64

In [33]:
housing.Furnished_status.fillna("Unfurnished",inplace=True)

In [34]:
housing.Furnished_status.value_counts()

Furnished_status
Unfurnished       4844
Semi-Furnished    2199
Furnished          695
Name: count, dtype: int64

In [35]:
housing[["Furnished_status","price"]]

     Furnished_status       price
0         Unfurnished   5600000.0
1      Semi-Furnished   8800000.0
2         Unfurnished  16500000.0
3         Unfurnished   3810000.0
4         Unfurnished   6200000.0
...               ...         ...
7733      Unfurnished   7900000.0
7734   Semi-Furnished   4510000.0
7735      Unfurnished   7000000.0
7736      Unfurnished   6500000.0
7737      Unfurnished   6500000.0

[7738 rows x 2 columns]

In [36]:
housing.shape

(7738, 8)

In [37]:
housing.isnull().sum()

price               0
area                0
Bedrooms            0
Bathrooms           0
Balcony             0
parking             0
Furnished_status    0
type_of_building    0
dtype: int64

In [38]:
housing.head()

,price,area,Bedrooms,Bathrooms,Balcony,parking,Furnished_status,type_of_building
0,5600000.0,1350.0,3.0,3.0,0.0,0.0,Unfurnished,Flat
1,8800000.0,1490.0,3.0,3.0,0.0,0.0,Semi-Furnished,Flat
2,16500000.0,2385.0,4.0,5.0,0.0,1.0,Unfurnished,Flat
3,3810000.0,1050.0,2.0,2.0,3.0,1.0,Unfurnished,Flat
4,6200000.0,1350.0,2.0,2.0,3.0,1.0,Unfurnished,Flat

In [39]:
housing.type_of_building.value_counts()

type_of_building
Flat                6226
Individual House    1512
Name: count, dtype: int64

## Encoding Categorical Values

### Label Encoding

In [44]:
from sklearn.preprocessing import LabelEncoder

In [45]:
label=LabelEncoder()

In [46]:
housing["type_of_building"]=label.fit_transform(housing["type_of_building"])

In [47]:
housing.head()

,price,area,Bedrooms,Bathrooms,Balcony,parking,Furnished_status,type_of_building
0,5600000.0,1350.0,3.0,3.0,0.0,0.0,Unfurnished,0
1,8800000.0,1490.0,3.0,3.0,0.0,0.0,Semi-Furnished,0
2,16500000.0,2385.0,4.0,5.0,0.0,1.0,Unfurnished,0
3,3810000.0,1050.0,2.0,2.0,3.0,1.0,Unfurnished,0
4,6200000.0,1350.0,2.0,2.0,3.0,1.0,Unfurnished,0

In [48]:
housing.type_of_building.value_counts()

type_of_building
0    6226
1    1512
Name: count, dtype: int64

In [49]:
housing["Furnished_status"]=label.fit_transform(housing["Furnished_status"])

In [50]:
housing.Furnished_status.value_counts()

Furnished_status
2    4844
1    2199
0     695
Name: count, dtype: int64

In [51]:
housing.head()

,price,area,Bedrooms,Bathrooms,Balcony,parking,Furnished_status,type_of_building
0,5600000.0,1350.0,3.0,3.0,0.0,0.0,2,0
1,8800000.0,1490.0,3.0,3.0,0.0,0.0,1,0
2,16500000.0,2385.0,4.0,5.0,0.0,1.0,2,0
3,3810000.0,1050.0,2.0,2.0,3.0,1.0,2,0
4,6200000.0,1350.0,2.0,2.0,3.0,1.0,2,0

## Splitting the dataset into train test split

In [52]:
from sklearn.model_selection import train_test_split

In [54]:
X=housing.drop("price",axis=1)

In [55]:
Y=housing["price"]

In [57]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [58]:
print(X_train.shape,Y_train.shape,X_test.shape,Y_test.shape)

(6190, 7) (6190,) (1548, 7) (1548,)

## Implementing Linear Regression

In [59]:
from sklearn.linear_model import LinearRegression

In [60]:
linear=LinearRegression()

In [61]:
linear.fit(X_train,Y_train)

LinearRegression()

In [62]:
linear_test=linear.predict(X_test)

In [64]:
linear_test.shape

(1548,)

## Evaluation metrics

In [63]:
from sklearn import metrics

In [66]:
mse=metrics.mean_squared_error(Y_test,linear_test)
mse**0.2

407.56361000743885

In [70]:
def rotate(arr,k):
    for i in range(k):
        x=arr.pop(0)
        arr.append(x)
    return arr
    
    
    
nums = [1,2,3,4,5,6,7]
k = 3
# nums = [-1,-100,3,99]
# k = 2
rotate(nums,k)

[4, 5, 6, 7, 1, 2, 3]